<hr/>
<h3 align="center">Monthly Newsletter</h3>
<div>
  <i>
  <p><strong>If you like the content I share, please <a href="https://cdn.forms-content.sg-form.com/b8b001da-c01b-11ed-9999-baad2d414127" target="_blank">sign up</a> for my monthly newsletter.</strong> 
  I share articles & essays on leadership strategies, growth mindset, developer productivity, entrepreneurship, technology, tools, 
  and more... With decades of experience in the industry, I've learned and mastered selected strategies to develop 
  leadership skills, instill a growth mindset, and produce results efficiently. I send out a new issue every month with curated content based on my research and experiences.</p>
  </i>
  <span>
    <a href="https://cdn.forms-content.sg-form.com/b8b001da-c01b-11ed-9999-baad2d414127" 
       target="_blank" alt="Subscribe to the newsletter">
       <p class="text-center">Subscribe to the newsletter</p>
    </a>
  </span>
</div>
<hr/>
