<!-- Sidebar -->
<div class="sidebar">
  <div class="container {{ with .Site.Params.sidebarSticky }}sidebar-sticky{{ end }}">
    <!-- About -->
    {{ partial "sidebar/about.html" . }}
    <!-- Menu -->
    <div class="collapsible-menu">
      <input type="checkbox" id="menuToggle">
      <label for="menuToggle">{{ .Site.Title }}</label>
      <div class="menu-content">
        {{ partial "sidebar/menu.html" . }}
        {{ partial "sidebar/social.html" . }}
      </div>
    </div>
    <div>
      <!-- Newsletter -->
      {{ partial "newsletter/substack-signup-form-short.html" . }}
    </div>
    <!-- Copyright -->
    {{ partial "sidebar/copyright.html" . }}
  </div>
  <div>
  </div>
</div>
